<!-- templates/accounts/home.html-->
{% extends '../base.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="">Personal Dashboard</a>
    </div>
  </div>
</nav>
<div>
  {% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'accounts:logout' %}">logout</a></p>
  {% else %}
  <div class="container" align="center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
          <div class="row">
              <h3>Welcome to your Personal Dashboard</h3>
              <hr>
          </div>
          <img src="{% static 'images/desk.png' %}" width="200px" style="padding-bottom: 3%">
          <div class="row well">
            <div class="col s12 m6 offset-m3 center-align">
              <a class="oauth-container btn darken-4 white black-text" href="{% url 'social:begin' 'google-oauth2' %}" style="text-transform:none">
                <div class="left">
                  <img width="20px" style="margin-top:7px; margin-right:8px" alt="Google sign-in"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                </div>
                Login with Google
              </a>
            </div>
          </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<style>
  .mybutton{
    background-color: #333333;
    border-color: #333333;
    color: white;
  }
  .mybutton:hover{
    background-color:white;
    border-color: #333333;
    border-width: 1px;
    color: #333333;
  }
</style>
{% endblock %}
