{% load static %}

{% if user.is_authenticated %}
    {% if user == object.task_list.user %}
        <p><a href="/backend/todo">Todo Home</a></p>
        <p><a href="/backend/todo/list/{{ object.task_list.pk }}">{{ object.task_list.tasklist_name }}</a></p>
        <p>Task name: {{ object.task_name }}</p>
        <p>Task description: {{ object.task_description }}</p>
        <p>Due date: {{ object.task_due_date }}</p>
        <p>Subtasks:</p>
        {% for task in object.task_set.all %}
            {% include "backend/task.html" with indent=40 %}
        {% endfor %}
        <a href="/backend/todo/{{ object.pk }}/create-subtask"><button type="button" class="btn btn-default">Add subtask to task</button></a>
    {% else %}
        <p>Not authorized to view this content.</p>
    {% endif %}
{% else %}
    <p>No user is available.</p>
{% endif %}

