{% load static %}

{% if user.is_authenticated %}
    {% if user.tasklist_set.all.count == 0 %}
        <p>User has no tasklists.</p>
    {% else %}
        {% for tasklist in user.tasklist_set.all %}
            <p><a href="/backend/todo/list/{{ tasklist.pk }}">{{ tasklist.tasklist_name }}</a></p>
            {% for task in tasklist.task_set.all %}
                {% if task.parent_task is None %}
                    {% include "backend/task.html" with indent=40 %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endif %}
    <p><a href="create-list"><button type="button" class="btn btn-default">Create tasklist</button></a></p>
{% else %}
    <p>No user is available.</p>
{% endif %}