{% extends 'navbar.html' %}

{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-xl-3">
                    <a class="btn btn-primary left" style='margin-top: 15px;' href="?{{ prev_month }}"> < Previous Month </a></Previous>
                </div>
                <div class="col-xl-6">
                    <div class="text-center">
                        <div style='display: inline-block; margin-top: 15px;'>
                            <a class="btn btn-outline-secondary" href="{% url 'dashboard:create_item'%}"> + Add Task </a></Previous>
                            <h6 style='display: inline-block; margin-left: 15px;'>Black: completed tasks | Blue: incomplete tasks</h6>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <a class="btn btn-primary right" style='margin-top: 15px;' href="?{{ next_month }}"> Next Month > </a>
                </div>
            </div>
            {% autoescape off %}{{ calendar }}{% endautoescape %}
        </div>
    </div>
</div>
{% endblock content %}