<!-- templates/dashboard.html -->
{% extends 'navbar.html' %}

{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1 class="mt-4">Dashboard</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Your Personal Dashboard</li>
    </ol>
    <div class="row">
        <div class="col-xl-12">
            <div class="card mb-4">
                <div class="card-header"><i class="fas fa-chart-area mr-1"></i>Current Weather</div>
                <a class="weatherwidget-io" href="https://forecast7.com/en/38d80n77d05/alexandria/?unit=us" data-label_1="CURRENT" data-label_2="WEATHER" data-font="Open Sans" 
                data-theme="pure" ></a>
                <script>
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';
                fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
                </script>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header"><i class="fas fa-chart-area mr-1"></i>To-Do List Shortcuts</div>
                <div class="card-body">
                    <div class="text-center" style="margin-bottom: 10px;">
                        <a class="btn btn-secondary" href="{% url 'dashboard:create_list'%}">Create a To-Do List</a>
                    </div>
                    <div class="text-center" style="margin-top: 10px;">
                        <a class="btn btn-secondary" href="{% url 'dashboard:create_item'%}">Add an Item to a List</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header"><i class="fas fa-chart-area mr-1"></i>Future Functionality</div>
                <div class="card-body">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
