{% extends 'navbar.html' %}

{% load static %}

{% block content %}
<div class="container-fluid">
    <h1 class="mt-4">Dashboard</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Your Personal Dashboard</li>
    </ol>
    <div class="row">
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header"><i class="fas fa-chart-area mr-1"></i>Current Weather</div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                {{ form.name }}
                            </div>
                            <div class="control">
                                <button class="button is-info">
                                    Add City
                                </button>
                            </div>
                        </div>
                    </form>
                </br>
                    {% for weather in weather_data %}
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{ weather.city }}</span>
                                        <br>
                                        <span class="subtitle">{{ weather.temperature }}° F</span>
                                        <br> {{ weather.description }}
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header"><i class="fas fa-chart-area mr-1"></i>To-Do List Shortcuts</div>
                <div class="card-body">
                    <div class="text-center" style="margin-bottom: 10px;">
                        <a class="btn btn-secondary" href="{% url 'dashboard:create_list'%}">Create a To-Do List</a>
                    </div>
                    <div class="text-center" style="margin-top: 10px;">
                        <a class="btn btn-secondary" href="{% url 'dashboard:create_item'%}">Add an Item to a List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}