{% extends 'navbar.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<style>
    input {max-width: 6em};
</style>

{% if total_weight %}
    <div class="alert alert-danger">
        <strong>Total weight must equal 100.</strong>
    </div>
{% endif %}

<div class="container-fluid">
    <h1 class="mt-4">Grade Calculation</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Calculate your overall grade in a class, and see what grade you need to meet standard grade thresholds</li>
    </ol>
    <div class="row">
        <div class="col-xl-12">
            <h5>Instructions:</h5>
            <p style='margin-bottom: 10px;'>All four fields for each grade category are required.</p>
            <p style='margin-bottom: 10px;'>The "category weight" is the percentage of the final grade that grades in this category account for. (e.g. If homework is 20% of your final grade, enter <b>20</b> for the category weight).</p>
            <p style='margin-bottom: 10px;'>The "current points earned" is how many points you have accrued to date from all submitted assignments in the category. (e.g. If there are three currently submitted assignments, and you have gotten a 25/30, 20/25, and a 10/10, then you would input 25 + 20 + 10 = <b>55</b>).</p>
            <p style='margin-bottom: 10px;'>The "current points possible" is how many points could have been earned from all submitted assignments (e.g. If there are three currently submitted assignments, and you have gotten a 25/30, 20/25, and a 10/10 (the same situation as above), then you would input 30 + 25 + 10 = <b>65</b>).</p>
            <p style='margin-bottom: 10px;'>The "total points possible" is how many points can be earned from all assignments in the category for the entirety of the course. (e.g. If there are three currently submitted assignments, and you have gotten a 25/30, 20/25, and a 10/10 (the same situation as above), and there will be two more 50 point assignments in this category for the remainder of the class, then you would input 30 + 25 + 10 + 50 + 50 = <b>165</b>).</p>
            <p>Doing this for all fields in the class will then calculate what grade you need for the rest of the assignments to meet common grade divisions. It should be noted that the category weights from all of the categories filled out <i>must add up to 100%.</i></p> 
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div class="card mb-4">
                <div class="card-header"><i class="fas fa-chart-area mr-1"></i>Grade Spreadsheet</div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                    
                        {{ formset.management_form }}
                    
                        {% for form in formset %}
                            <div class="grade-category-formset">
                                {{ form }}
                            </div>
                        {% endfor %}
                    
                        <p><input type="submit" value="Calculate" class="btn btn-primary" style="margin-top: 10px;"/></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Include formset plugin - including jQuery dependency -->
<script src="{% static 'jquery.formset.js' %}"></script>
<script>
    $('.grade-category-formset').formset({
        addText: 'add category',
        deleteText: 'remove category'
    });
</script>

{% endblock content %}