{% extends 'navbar.html' %}

{% load static %}

{% block content %}
<div class="container-fluid">
    <h1 class="mt-4">To-Do List</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Your Personal Dashboard</li>
    </ol>
    {% for list in lists %}
        <div class="card mb-4">
            {% for item in list %}
                {% if forloop.counter == 1 %}
                    <div class="card-header"><i class="fas fa-chart-area mr-1"></i>{{ item }}</div>
                {% else %}
                    {% if forloop.counter == 2 %}
                        <div class="card-body">
                            <form role="form" method="POST" action='{% url 'dashboard:complete' pk=item.id %}'>
                            {% csrf_token %}
                            <p style='display: inline-block;'>{{item}}</p>
                            <button class="btn btn-outline-primary btn-sm" style='display: inline-block; margin-left: 15px;' type='submit'>Mark Complete</button>
                    {% else %}
                            <hr/>
                            <form role="form" method="POST" action='{% url 'dashboard:complete' pk=item.id %}'>
                            {% csrf_token %}
                            <p style='display: inline-block;'>{{item}}</p>
                            <button class="btn btn-outline-primary btn-sm" style='display: inline-block; margin-left: 15px;' type='submit'>Mark Complete</button>
                    {% endif %}
                    {% if forloop.last %}
                            <hr/>
                            <a class="btn btn-secondary" href="{% url 'dashboard:create_item'%}">Add an Item to List</a>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
    </ul>
</div>
{% endblock content %}
