{% extends 'navbar.html' %}

{% load static %}

{% block content %}
<div class="container-fluid">
    <h1 class="mt-4">To-Do List</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Your Personal Dashboard</li>
    </ol>
    {% for list in lists %}
        <div class="card mb-4">
            {% for item in list %}
                {% if forloop.counter == 1 %}
                    <div class="card-header"><i class="fas fa-chart-area mr-1"></i>{{ item }}</div>
                {% else %}
                    {% if forloop.counter == 2 %}
                        <div class="card-body">
                            <h5 style="display: inline-block;">{{item}}</h5>
                            <a href="{% url 'dashboard:complete' item.id %}"><input type="submit" class="btn btn-outline-primary btn-sm" value="Mark Complete" style="display: inline-block; margin-left: 15px; margin-bottom: 5px;"/></a>
                            <a href="{% url 'dashboard:delete_item' item.id %}"><input type="submit" class="btn btn-outline-danger btn-sm" value="Delete" style="margin-left: 15px; margin-bottom: 5px;"/></a></br>
                            {% if item.task_priority == 3 %}
                            <body>Priority: High</body>
                            {% elif item.task_priority == 2 %}
                            <body>Priority: Medium</body>
                            {% else %}
                            <body>Priority: Low</body>
                            {% endif %}
                            <body> | Due: {{item.task_due_date}}</body></br>
                            <body>Description: {{item.tast_description}}</body>
                    {% else %}
                            <hr style='margin-top: 10px;'/>
                            <h5 style="display: inline-block;">{{item}}</h5>
                            <a href="{% url 'dashboard:complete' item.id %}"><input type="submit" class="btn btn-outline-primary btn-sm" value="Mark Complete" style="display: inline-block; margin-left: 15px; margin-bottom: 5px;"/></a>
                            <a href="{% url 'dashboard:delete_item' item.id %}"><input type="submit" class="btn btn-outline-danger btn-sm" value="Delete" style="margin-left: 15px; margin-bottom: 5px;"/></a></br>
                            {% if item.task_priority == 3 %}
                            <body>Priority: High</body>
                            {% elif item.task_priority == 2 %}
                            <body>Priority: Medium</body>
                            {% else %}
                            <body>Priority: Low</body>
                            {% endif %}
                            <body> | Due: {{item.task_due_date}}</body></br>
                            <body>Description: {{item.tast_description}}</body>
                    {% endif %}
                    {% if forloop.last %}
                            <hr style='margin-top: 10px;'/>
                            <a class="btn btn-secondary" href="{% url 'dashboard:create_item'%}">Add an Item to List</a>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
    </ul>
</div>
{% endblock content %}
